#home-page{
  section{
    width: 100%;
  }
}

.slide-main{
  //height: 100vh;
  margin: auto;
  margin-bottom: 6rem;
  position: relative;
  background-color: transparent;
  z-index: 3;
  padding-top: 0;
  padding-bottom: 0;

  @include breakpoint(m-s-up){
      margin-bottom: 1rem;
  }

  @include breakpoint(xs-680){
    margin-bottom: 3rem;
    padding: 2rem;
  }

  @include breakpoint(xs){
    //min-height: 100vh;
    height: auto;
  }
}

.bg-feature-gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  max-height: 1068px;
  @include background-2x( '../images/bg-feature-gradient', 'jpg', cover, auto, center top, no-repeat );

  @include breakpoint(xs-680){
      @include background-2x( '../images/bg-feature-gradient-mobile', 'jpg', contain, auto, center top, no-repeat );
  }
}

.bg-feature-bushes{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 19vw;
  max-height: 339px;
  background-image: url('../images/bg-feature-bushes.svg');
  background-repeat: repeat-x;
  background-size: 336vw;

  @media (min-width: 1901px){
    background-size: 6380px;
    max-height: 312px;
  }

  @include breakpoint(s){
    background-size: cover;
  }

  @include breakpoint(xs-680){
    bottom: 81px;
  }
}

.bg-feature-barn-container{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;

  @include breakpoint(m-l){
    width: 41%;
  }

  @include breakpoint(xs-680){
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
  }
}

.bg-feature-barn{
  position: absolute;
  bottom: 80px;
  right: -20px;
  background-image: url('../images/feature-barn.png');
  background-repeat: no-repeat;
  background-size: cover;
  @include size-to-screen-width(544,343,0.4,1500px);

  @include breakpoint(xxl){
    right: 0;
  }

  @include breakpoint(xs-680){
    @include size-to-screen-width(544,343,0.4,880px);
    right: 10%;
  }
}

.bg-feature-grass-container{
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 100%;

  @include breakpoint(xs-680){
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
  }
}

.bg-feature-grass{
  position: absolute;
  bottom: 58px;
  right: -45px;
  background-image: url('../images/bg-feature-grass.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 544px;
  height: 53px;

  @include breakpoint(xs-680){
    @include size-to-screen-width(544,53,0.4,880px);
    right: 9%;
    bottom: 71px;
  }
}


.bg-feature-fence{
  position: absolute;
  opacity: 0.8;
  bottom: 67px;
  left: 0;
  width: 100%;
  height: 56px;
  background-image: url('../images/bg-feature-fence.svg');
  background-repeat: repeat-x;
  background-size: 1822px 56px;

  @include breakpoint(s){
    bottom: 49px;
  }

  @include breakpoint(xs-680){
    bottom: 67px;
  }
}

.bg-graphics{
  position: absolute;
  z-index: 1;
  width: 90vw;
  max-width: 1900px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: $site-width-max;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include breakpoint(xs-680){
    width: 100vw;
    background-size: auto 75%;

    #feature &{
      background-size: 150vw;
    }
  }
}

.slide-content{
  @include prefixr(display,flex);
  @include prefixr(justify-content,center);
  @include prefixr(align-items,flex-start);
  width: 100%;
  height: 100%;
  max-width: $container-width-max;
  margin: auto;
  position: relative;

  @include breakpoint(xs-680){
    @include prefixr(flex-direction,column);
  }
}

.slide-image-container{
  @include prefixr(display,flex);
  @include prefixr(justify-content,center);
  @include prefixr(align-items,center);
  position: relative;
  width: 50%;
  z-index: 200;

  @include breakpoint(xs-680){
    @include prefixr(justify-content,center);
    width: 100%;
    margin-bottom: 20px;
  }
}

ul.feature-hashtags{
  color: #FFFFFF;
  font-family: "Vision Heavy";
  font-size: getRem(22px);
  letter-spacing: -1.5px;
  padding-left: getRem(22px);
  padding-top: getRem(5px);

  @include breakpoint(m-s){
    font-size: getRem(17px);
    padding-left: getRem(13px);
  }

  @include breakpoint(xs-680){
    padding-left: 0;
    text-align: center;
  }

  span{
    color: $sl-red;
  }

  li{
    margin: 0 10px;
    text-shadow: 2px 2px 21px rgba(0,0,0,0.42);

    &:first-of-type{
      margin-left: 0;
    }

    &:last-of-type{
      margin-right: 0;
    }
  }
}

.feature-stars{
  position: absolute;
  top: -120px;
  left: -140px;
  background-image: url('../images/feature-stars.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @include size-to-screen-width(860,568,0.4,1500px);

  @include breakpoint(xs-680){
    margin: auto;
    top: -45px;
    left: -23px;
    right: 0;
    transform: none !important;
    -webkit-transform: none !important;
  }

  @include breakpoint(xs){
    top: -30px;
  }
}

.slide-image{
  position: relative;
  width: 100%;
  height: 100%;

  //max-height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 200;

  @include breakpoint(xs-680){
    background-position: bottom;
    max-height: 100vh;
    height: 100%;
  }
}

.slide-copy{
  width: 50%;
  max-width: 720px;
  color: $sl-brown;
  z-index: 2;
  padding-left: 2rem;
  text-align: center;

  @include breakpoint(xs-680){
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    transform: none !important;
    -webkit-transform: none !important;
  }

  .button{
    margin-top: 1.4rem;
  }
}


//Slide 1 and about are exceptions to the layout
#feature.slide-main, #feature{
  height: auto;
  padding-top: 150px;
  margin-bottom: 8rem;

  @include breakpoint(m-s){
    margin-bottom: 5rem;
  }

  @include breakpoint(xs-680){
    margin-bottom: 1rem;
    padding-top: 80px;
  }

  @include breakpoint(xs){
    margin-bottom: 0;
  }

  .slide-content{
    @include breakpoint(xs-680){
      @include prefixr(flex-direction, column-reverse);
      @include prefixr(align-items, center);
      padding-top: 0;
    }
  }

  .slide-image-container{
    width: 50%;
    @include prefixr(justify-content,center);

    @include breakpoint(m-l){
      width: 45%;
    }

    @include breakpoint(m-s){
      margin-top: 121px;
    }

    @include breakpoint(xs-680){
      height: auto;
      width: 100%;
      margin-top: 25px;
    }

    @include breakpoint(xs){
      margin-top: 15px;
    }
  }

  .slide-image{
    @include background-2x( '../images/feature-luke', 'png', contain, auto, center top, no-repeat );
    @include size-to-screen-width(610,818,0.4,1500px);

    @include breakpoint(xs-680){
      @include size-to-screen-width(610,818,0.5,1080px);
    }


    @include breakpoint(xs-680){
      background-position: top;
    }
  }

  .slide-copy{
    position: relative;
    width: 50%;
    padding-left: 0;
    text-align: center;
    margin-bottom: 2rem;

    @include breakpoint(m-l){
      width: 55%;
    }

    @include breakpoint(xs-680){
      width: 100%;
      margin-top: 56px;
    }

    > *{
      position: relative;
    }

    .feature-logo-glow{
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      margin: auto;
      background-image: url("../images/feature-logo-glow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      @include size-to-screen-width(370,353,0.5,1500px);

      @include breakpoint(xs-680){
        top: -20px;
      }
    }

    .feature-logo{
      @include size-to-screen-width(400,215,0.5,1500px);
    }

    p.subtitle{
      max-width: 535px;
      margin-bottom: getRem(28px);
    }

    h4{
      margin-top: 0;
      margin-bottom: getRem(5px);
    }
  }

  @include breakpoint(s){
    min-height: 0;
  }
}

.location-box{
  display: inline-block;
  padding: getRem(38px) getRem(27px);
  background-image: url("../images/location-box-texture.jpg");
  background-size: 50%;
  -webkit-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.35);

  p{
    margin: 0;

    &.location-info{
      @extend .h4;
      text-transform: none;
      font-family: "Farao Black";
      letter-spacing: 0;
      line-height: 1.3;
    }

    &.location-city{
      color: $sl-red;
      font-family: "Farao Black";
      font-size: getRem(33px);

      @include breakpoint(l){
        font-size: getRem(28px);
      }

      @include breakpoint(s){
        font-size: getRem(24px);
      }
    }
  }

  p:first-of-type{
    margin-top: 0;
  }
  p:last-of-type{
    margin-bottom: 0;
  }
}

#tour-stops{
  background: url("../images/bg-tour-stops.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 8rem;

  @include breakpoint(xs-680){
    margin-bottom: 3rem;
  }

  .tour-header-mobile{
    position: relative;
    z-index: 1;

    @media (max-width: 413px){
      position: absolute;
      margin: -48px auto 0;
      left: 0;
      right: 0;
    }
  }

  .bg-graphics{
    background-image: url('../images/tour-stops-stars.svg');
    background-position: top;
    background-size: contain !important;
    width: 90vw !important;

    @include breakpoint(xs){
      transform: none !important;
    }
  }

  .slide-content{
    display: block;
    text-align: center;
  }

  .slide-image-container{
    width: 100%;
    @include prefixr(flex-wrap, wrap);

    .slide-image.tour-map{
      width: 100%;
      max-width: 1314px;
      height: auto;
      transform-origin: top;

      .tour-star{
        cursor: pointer;

        &:after{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translateX(-50%) translateY(-50%);
          width: 109%;
          height: 121%;
          border: 2px solid $sl-red;
          border-radius: 50%;
          opacity: 0;
          transition: opacity 0.3s;
          -webkit-transition: opacity 0.3s;
        }

        &.selected{
          &:after{
            opacity: 1;
            transition: opacity 0.3s;
            -webkit-transition: opacity 0.3s;
          }
        }

        @include breakpoint(xs-680){
          pointer-events: none;
        }
      }

      img{
        display: block;
        width: 100%;
      }

      @include breakpoint(xs-680){
        height: auto;
      }
    }
  }
}

$tour-star-path: "%3Cpath class='st0' d='M10.2,3.7c-0.1-0.2-0.3-0.4-0.6-0.4l-3,0L5.7,0.4C5.6,0.2,5.4,0,5.1,0C4.9,0,4.7,0.2,4.6,0.4l-1,2.8l-3,0	C0.3,3.2,0.1,3.4,0,3.6c-0.1,0.2,0,0.5,0.2,0.7l2.4,1.8l-1,2.8c-0.1,0.2,0,0.5,0.2,0.7c0.2,0.2,0.5,0.2,0.7,0L5,7.9l2.4,1.8 c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.4-0.1C8.4,9.5,8.5,9.3,8.4,9L7.5,6.1l2.5-1.7C10.2,4.3,10.2,4,10.2,3.7z'%2F%3E";

.tour-star{
  position: absolute;
  width: (31 / 1314) * 100%;
  height: (28 / 880) * 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.farm-stop{
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10.2 9.8' style='enable-background:new 0 0 10.2 9.8;' xml:space='preserve'%3E %3Cstyle type='text/css'%3E.st0%7Bfill:%23ED1C24;%7D%3C%2Fstyle%3E" + $tour-star-path + "%3C%2Fsvg%3E");
  }

  &.other-stop{
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10.2 9.8' style='enable-background:new 0 0 10.2 9.8;' xml:space='preserve'%3E %3Cstyle type='text/css'%3E.st0%7Bfill:%23370000;%7D%3C%2Fstyle%3E" + $tour-star-path + "%3C%2Fsvg%3E");
  }
}

#map-key{
  position: absolute;
  bottom: 20px;
  right: 20%;
  font-family: "Farao Black";
  font-size: getRem(20px);
  text-align: left;

  > div{
    @include prefixr(display, flex);
    @include prefixr(align-items, center);

    &:first-of-type{
      margin-bottom: getRem(8px);
    }
  }

  span{
    width: 31px;
    height: 28px;
    position: relative;
    display: inline-block;
    margin-right: 7px;
  }

  @include breakpoint(m-l){
    bottom: 0;
    right: 16%;
    font-size: getRem(18px);
    span{
      width: 27px;
      height: 24px;
    }
  }

  @include breakpoint(m-s){
    position: relative;
    bottom: auto;
    right: 0;
    left: 0;
    margin: auto;

    > div{
      @include prefixr(display, inline-flex);
      &:first-of-type{
        margin-right: 14px;
        margin-bottom: auto;
      }
      &:last-of-type{
        margin-left: 14px;
      }
    }

    span{
      margin-right: 5px;
    }
  }

  @include breakpoint(xs){
    > div{
      @include prefixr(display, flex);

      &:first-of-type{
        margin-right: 0;
        margin-bottom: 6px;
      }

      &:last-of-type{
        margin-left: 0;
      }
    }
  }
}

#tour-info-modal{
  position: absolute;
  z-index: 200000;
  width: auto;

  @media (max-width: 413px){
    //margin-top: 30px;
  }

  .location-box{
    position: relative;
    padding-left: getRem(58px);
    padding-right: getRem(58px);

    @include breakpoint(xs-680){
      padding-left: getRem(34px);
      padding-right: getRem(34px);
    }

    @include breakpoint(s){
      z-index: 1;
    }

    @include breakpoint(xs){
      width: 74vw;
      padding-left: getRem(20px);
      padding-right: getRem(20px);
    }

    .close-bt{
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      background: url("../images/location-box-close-bt.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      width: 25px;
      height: 25px;

      @include breakpoint(xs-680){
        display: none;
      }
    }
  }

  a.button{
    margin-top: getRem(20px);
  }

  .mobile-controls{
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 136%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    z-index: 10;

    @include breakpoint(xs-680-up){
      display: none;
    }

    .control{
      @include prefixr(display, flex);
      @include prefixr(justify-content, center);
      @include prefixr(align-items, center);
      position: absolute;
      top: 50%;
      width: 36px;
      height: 36px;
      background-color: #FFFFFF;
      transform-origin: center;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -webkit-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.35);
      -moz-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.35);
      box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.35);
      border-radius: 50%;
      cursor: pointer;
      pointer-events: all;

      &.disabled{
        pointer-events: none;
        cursor: auto;
        background-color: #EEEEEE;

        .arrow{
          opacity: 0.2;
        }
      }

      .arrow{
        position: relative;
        width: 14px;
        height: 22px;
        background-image: url('../images/arrow-modal.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &.previous{
        left: 10px;

        .arrow{
          transform-origin: center;
          -webkit-transform-origin: center;
          transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          margin-right: 4px;
        }
      }

      &.next{
        right: 10px;

        .arrow{
          margin-left: 4px;
        }
      }
    }
  }
}

.location-images{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  @include breakpoint(s){
    z-index: 0;
  }

  @media (max-width: 413px){
    display: none;
  }

  > div{
    position: absolute;
    border: 5px solid #FFFFFF;
    -webkit-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.35);
    background-color: #EEEEEE;

    img{
      position: relative;
      opacity: 1;
      width: 100%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
  }

  .img1, .img2{
    width: 173px;
    height: 215px;

    @include breakpoint(m-s){
      width: (173 * 0.74) + 0px;;
      height: (215 * 0.74) + 0px;
    }
  }

  .img1{
      transform: rotate(16deg);
      -webkit-transform: rotate(16deg);
      z-index: 30002;
      top: -216px;
      left: -54px;

      @include breakpoint(m-s){
        top: -168px;
        left: -45px;
      }

      @include breakpoint(xs-680){
        top: -90px;
      }
  }

  .img2{
      transform: rotate(-21deg);
      -webkit-transform: rotate(-21deg);
      z-index: 30001;
      top: -63px;
      left: -218px;

      @include breakpoint(m-s){
        top: -45px;
        left: -161px;
      }
  }

  .img3{
      transform: rotate(16deg);
      -webkit-transform: rotate(16deg);
      width: 146px;
      height: 181px;
      z-index: 30000;
      top: 205px;
      left: -92px;

      @include breakpoint(l){
        top: 195px;
      }

      @include breakpoint(m-s){
        width: (146 * 0.74) + 0px;
        height: (181 * 0.74) + 0px;

        top: 185px;
        left: -70px;
      }

      @include breakpoint(s){
        top: 163px;
      }

      @include breakpoint(xs-680){
        top: 113px;
      }
  }
}

.loading-spinner{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 45%;
  background: url("../images/loading-spinner.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

@keyframes spin{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.tour-schedule-container{
  position: relative;
  z-index: 200;
  h2{
    margin: getRem(40px) 0;
  }

  @media (max-width: 413px){
    margin-top: 30px;
  }
}

#tour-schedule{
  max-width: 920px;
  width: 100%;
  margin: 0 auto 70px;
  position: relative;

  h3{
    font-family: "Vision Heavy";
    font-size: getRem(27px);
    display: inline;
  }

  .chart-leaves-left, .chart-leaves-right, .honeycomb{
    opacity: 1;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;

    &.opacity-0{
      transition: opacity 0.4s;
      -webkit-transition: opacity 0.4s;
    }
  }

  .chart-leaves-left{
    background-image: url('../images/chart-leaves-left.png');
    width: 12.95vw;
    height: 12.6vw;
    max-width: getRem(154px);
    max-height: getRem(150px);
    left: -116px;
    bottom: -43px;
    z-index: 3;

    @include breakpoint(m-l){
      left: -9.75vw;
      bottom: -3.6vw;
    }
  }

  .chart-leaves-right{
    background-image: url('../images/chart-leaves-right.png');
    width: 20.5vw;
    height: 12.27vw;
    max-width: getRem(244px);
    max-height: getRem(146px);
    right: -121px;
    bottom: -58px;
    z-index: 3;

    @include breakpoint(m-l){
      right: -10.17vw;
      bottom: -4.878vw;
    }
  }

  .honeycomb{
    @include background-2x( '../images/honeycomb', 'png', contain, auto, center center, no-repeat );
    width: 15.9vw;
    height: 13.54vw;
    max-width: getRem(189px);
    max-height: getRem(161px);
    left: -113px;
    bottom: 0;
    z-index: 0;

    @include breakpoint(m-l){
      left: -9.75vw;
    }
  }

  @include breakpoint (xs-680){
    width: 100%;
    margin-bottom: 35px;

    .chart-leaves-left, .chart-leaves-right, .honeycomb{
      display: none;
    }
  }
}

.tour-truck{
  @include background-2x( '../images/tour-schedule-truck', 'png', contain, auto, center top, no-repeat );
  @include size-to-screen-width(101,77,0.6,1200px);
  margin: auto;
}

.tour-table{
  border-radius: 20px;
  overflow: hidden;
}

.schedule-header{
  text-align: center;
  color: #FFFFFF;
  background-color: $sl-red;
  padding: getRem(30px);

  text-transform: uppercase;
}

.schedule-body{
  position: relative;
  @include prefixr(display, flex);
  @include prefixr(flex-wrap, wrap);
  text-align: left;

  > div{
    width: 50%;
  }

  &:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: #FFFFFF;
  }

  @include breakpoint(xs-680-up){
    background-color: #FFFFFF;
  }

  @include breakpoint(xs-680){
    text-align: center;

    > div{
      width: 100%;
      &:first-of-type{
        margin-bottom: 15px;
      }
    }

    .empty-date{
      display: none;
    }

    &:after{
      display: none;
    }
  }
}

.schedule-content{
  @include prefixr(display, flex);
  @include prefixr(flex-wrap, wrap);
  @include prefixr(align-items, center);

  .dates-header{
    @include prefixr(display, flex);
    @include prefixr(align-items, center);

    span{
      position: relative;
      display: inline-block;
      width: 31px;
      height: 28px;
      margin-right: getRem(8px);
    }

    @include breakpoint(xs-680){
      @include prefixr(justify-content, center);
    }
  }

  > div{
    width: 100%;
    padding: getRem(21px) getRem(33px);

    &.empty-date{
      span, p{
        opacity: 0;
      }
    }
  }

  a{
    display: inline-block;
  }

  .date, p{
    font-family: "Vision Bold";
    letter-spacing: -1px;
  }

  .date{
    font-size: getRem(27px);
  }

  p{
    margin-top: 4px;
    margin-bottom: 0;
  }
}

.farm-dates{
  > div{
    &:nth-child(odd){
      background-color: #fdf4dc;
    }

    &:nth-child(even){
      background-color: #fcedc5;
    }
  }
}

.other-dates{
  > div{
    &:nth-child(odd){
      background-color: #e2d5bb;
    }

    &:nth-child(even){
      background-color: #c3b9a5;
    }
  }
}

.austin-stamp{
  position: absolute;
  z-index: 2;
  left: 1rem;
  top: 0;

  @include background-2x( '../images/austin-stamp', 'png', contain, auto, center top, no-repeat );
  @include size-to-screen-width(174,174,0.5,1900px);

  @include breakpoint(xs-680){
    top: 0;
  }

  @include breakpoint(xs){
    @include size-to-screen-width(174,174,0.36,1900px);
    transform: none !important;
    -webkit-transform: none !important;
    top: -20px;
  }
}

.cactus{
  position: absolute;
  z-index: 2;
  right: 0;
  top: 90px;

  @include size-to-screen-width(189,378,0.2,2400px);

  @include background-2x( '../images/cactus', 'png', contain, auto, center top, no-repeat );

  &:not(.reverse){
    @media (min-width: 1550px){
      top: 90px;
    }

    @media (max-width: 1549px){
      top: 10vw;
    }

    @include breakpoint(m-l){
      top: 13vw;
    }

    @include breakpoint(xs){
      top: 5vw;
    }
  }

  &.reverse{
    transform: scaleX(-1);
    @include size-to-screen-width(150,300,0.2,2400px);
    right: auto !important;
    left: -1rem;
    top: 350px;

    @include breakpoint(xs-680){
      left: 0;
      top: 256px;
    }

    @include breakpoint(xs){
      top: 155px;
    }
  }
}

#retailers{
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    height: auto;
    margin-bottom: 10rem;

    > *{
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(m-l){
      margin-bottom: 6.5rem;
    }

    @include breakpoint(xs-680){
      margin-bottom: 1rem;
    }
}

.retailer-content{
  max-width: $container-width-max;
  background-color: rgba(255,255,255,0.3);
  border-radius: 20px;
  padding: 2rem;

  > *{
    margin-left: auto;
    margin-right: auto;
  }
}

.retailer-logos{
  @include prefixr(display, flex);
  @include prefixr(justify-content, center);
  @include prefixr(align-items, center);
  @include prefixr(flex-wrap, wrap);
  max-width: 1170px;

  >div{
    width: 20%;
    padding: 6px;

    @include breakpoint(s-up){
      &:nth-child(5n){
        padding-left: 12px;
        padding-right: 0px;
      }

      &:first-child, &:nth-child(6n){
        padding-left: 0px;
        padding-right: 12px;
      }
    }

    @include breakpoint(s){
      width: calc(100% / 3);

      &:nth-child(3n){
        padding-left: 12px;
        padding-right: 0px;
      }

      &:first-child, &:nth-child(3n + 1){
        padding-left: 0px;
        padding-right: 12px;
      }
    }

    @include breakpoint(xs-680){
      width: 50%;

      &:nth-child(even){
        padding-left: 12px;
        padding-right: 0px;
      }

      &:nth-child(odd){
        padding-left: 0px;
        padding-right: 12px;
      }

      img{
        max-width: 180px;
      }
    }
  }


  img{
    width: 100%;
    max-width: 250px;
  }
}

#about-products.slide-main{
  display: block;
  width: 100%;
  margin-left: auto;
  height: auto;
  text-align: center;

  @include breakpoint(m-up){
    padding-bottom: 11rem;
  }

  @include breakpoint(m){
    padding-bottom: 6.5rem;
  }

  @include breakpoint(xs-680){
    padding-bottom: 0;
  }

  h1{
    color: $sl-brown;
    max-width: 900px;

    @include breakpoint(l){
      max-width: 800px;
    }
  }

  h1, p{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
  }

  p{
    max-width: 800px;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  ul{
    font-family: "Vision Heavy";
    font-size: getRem(40px);
    letter-spacing: -2px;
    margin-top: 1rem;

    @include breakpoint(m){
      font-size: getRem(30px);
    }

    @include breakpoint(xs-680){
      font-size: getRem(25px);
      margin-bottom: 1rem;
    }

    li{
      &:first-of-type{
        padding-top: 0;
        &:before{
          display: none;
        }
      }

      &:last-of-type{
        padding-bottom: 0;
      }
    }
  }

  .button{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.about-products-main{
  position: relative;
  text-align: center;
  max-width: $container-width-max;
  margin-left: auto;
  margin-right: auto;

  h2,p{
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
  }

  img{
    display: block;
    width: 100vw;
    max-width: 1329px;
    margin: 3rem auto 0;
  }
}

.about-products-main-image{
  width: 92.3vw;
  height: 30.34vw;
  max-width: 1329px;
  max-height: 437px;
  margin: 3rem auto 0;

  @include background-2x( '../images/home-products-main', 'png', contain, auto, center center, no-repeat );
  background-size: contain !important;

  @include breakpoint(xs-680){
    width: 100%;
    height: 53.82vw;
    max-width: 680px;
    max-height: 366px;
    margin-top: 0.5rem;
    @include background-2x( '../images/home-products-main-mobile', 'png', contain, auto, center center, no-repeat );
  }
}

.about-products-subs{
  padding: 0;
  margin-top: 5rem;

  .slide-image-container{
    height: auto;

    @include breakpoint(s){
      width: 100%;
    }
  }

  .slide-image{
    @include breakpoint(s){
      background-position: top center;
    }
  }

  @include breakpoint(s){
    margin-top: 2rem;
  }
}

.about-product-content{
  @include prefixr(display, flex);
  @include prefixr(justify-content, center);
  @include prefixr(align-items, center);

  &:nth-child(even){
    @include breakpoint(s-up){
      @include prefixr(flex-direction, row-reverse);

      .slide-image-container{
        @include prefixr(justify-content,flex-start);
      }

      .slide-image{
        background-position: left;
      }
    }
  }

  @include breakpoint(s){
    @include prefixr(flex-direction, column-reverse);
    padding-top: 3.5rem;
  }

  .slide-copy{
    @include breakpoint(s){
      transform: none !important;
      -webkit-transform: none !important;

      width: 100%;
    }
  }
}

.product-side-lemon{
  position: absolute;
  right: 0;
  bottom: 0px;
  @include background-2x( '../images/product-side-lemon', 'png', contain, auto, center center, no-repeat );
  @include size-to-screen-width(280,231,0.3);

  @include breakpoint(xs-680){
    display: none;
  }
}

.product-side-honey{
  position: absolute;
  left: 0;
  top: 185px;
  @include background-2x( '../images/product-side-honey', 'png', contain, auto, center center, no-repeat );
  @include size-to-screen-width(250,282,0.3);

  @include breakpoint(s){
    top: 150px;
  }

  @include breakpoint(xs-680){
    top: 200px;
  }

  @include breakpoint(xs){
    display: none;
  }
}

#tour-photos.slide-main{
  display: block;
  width: 100%;
  margin-left: auto;
  height: auto;
  text-align: center;

  @include breakpoint(xs-680-up){
    margin-bottom: 11rem;
  }

  .button{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .photos{
    margin-top: getRem(50px);
    @include prefixr(display,flex);
    @include prefixr(justify-content,center);

    > div{
      position: relative;
      padding-left: 10px;
      padding-right: 10px;

      a,img{
        display: block;
        position: relative;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
      }

      a{
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);

        &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          -webkit-box-shadow: inset 0px 0px 0px 7px rgba(255,255,255,1);
          -moz-box-shadow: inset 0px 0px 0px 7px rgba(255,255,255,1);
          box-shadow: inset 0px 0px 0px 7px rgba(255,255,255,1);

          transition: all 0.2s;
          -webkit-transition: all 0.2s;
        }

        &:hover{
          &:after{
            -webkit-box-shadow: inset 0px 0px 0px 16px rgba(255,255,255,1);
            -moz-box-shadow: inset 0px 0px 0px 16px rgba(255,255,255,1);
            box-shadow: inset 0px 0px 0px 16px rgba(255,255,255,1);
          }

          img{
            filter: brightness(1.3) contrast(110%);
          }
        }
      }

      &:first-of-type{
        padding-left: 0;
        padding-right: 20px;
      }

      &:last-of-type{
        padding-right: 0;
        padding-left: 20px;
      }
    }

    @include breakpoint(xs-680){
      margin-top: getRem(35px);

      > div:nth-child(n+3){
        display: none;
      }
    }

    @include breakpoint(xs){
      @include prefixr(flex-wrap,wrap);
      > div{
        width: 100%;
        padding: 0;
        margin-top: 20px;
        padding-left: 0 !important;
        padding-right: 0 !important;

        &:first-of-type{
          margin-top: 0;
        }
      }
    }

    img{
      width: 100%;
    }
  }
}

.tour-photos-side-orange{
  position: absolute;
  left: 0;
  bottom: -180px;
  @include background-2x( '../images/tour-photos-side-orange', 'png', contain, auto, center center, no-repeat );
  @include size-to-screen-width(169,287,0.3);

  @include breakpoint(xs-680){
    bottom: 0;
  }
}

.center{
  position: absolute;
  top: 50%;
}
